body
{
  background-color: #1b2838;
}


p
{
  color: #a2a5ae;
}


h2, h4
{
  color: #ffffff;
}


/* .bloc_page
{
  width: 970px;
  margin: auto;
} */


header
{
  text-align: center;
}


nav
{
  background-color: #397198;
  width: 1100px;
  margin: 30px auto 70px;
}


.nav-link, .nav-tabs .nav-link.active
{
  background-color: #397198;
  color: #d9dad4;
  border-color: #2d5671;
}


.nav-tabs .nav-link
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.overview
{
  display: flex;
  justify-content: center;
}


.carousel
{
  margin-left: 100px;
}


.miniatures
{
  margin-top: 8px;
}


.description
{
  text-align: left;
  padding-left: 20px;
}


.intro
{
  font-size: 13px;
  width: 65%;
}
