body
{
  background-color: #1b2838;
}


p
{
  color: #a2a5ae;
}


h2, h4
{
  color: #ffffff;
}


/* .bloc_page
{
  width: 970px;
  margin: auto;
} */


header
{
  text-align: center;
}


nav
{
  background-color: #397198;
  width: 1050px;
  margin: 30px auto 70px;
}


.nav-link, .nav-tabs .nav-link.active
{
  background-color: #397198;
  color: #d9dad4;
  border-color: #2d5671;
}


.nav-link.active:hover
{
  background-color: #000;
}


.nav-tabs .nav-link
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.nav-tabs
{
  border-bottom: 1px solid;
}


.overview
{
  display: flex;
  justify-content: center;
}


.carousel
{
  margin-left: 50px;
}


.miniatures
{
  margin-top: 8px;
  margin-left: 45px;
}


.description
{
  text-align: left;
  padding-left: 20px;
}


.intro
{
  font-size: 13px;
  width: 65%;
}


.game-info
{
  font-size: 14px;
  line-height: 16px;
  color: #556772;
}


.game-score
{
  font-style: normal;
  color: #5bc0f4;
}


.cell
{
  display: inline-block;
  font-size: 12px;
  background-color: #324b5f;
  color: #5bc0f4;
  padding: 2px 9px;
  border-radius: 2px;
}


.cell:hover
{
  text-decoration: none;
  color: 
}
